*{
  font-family: sans-serif;
}

body{
  background-color: #131313;
}

.text-center{
  color: white;
  font-style: italic;
  margin: 20px;
}

#itemInput{
  background-color: #131313;
  border: 2px solid rgb(37, 37, 37);
  padding: 20px;
  color: white;
}

#itemInput:focus{
  border: 1px solid rgb(212, 174, 4);
   box-shadow: 0px 0px 0px 1px rgb(212, 174, 4);
}

#todoList label{
  width: 80%;
  font-size: 18px;  
}

#todoList li{
  list-style-type: none;
}

.completed,.uncompleted{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 37, 37);
    color: white;
    height: 80px;
    border: 2px solid rgb(212, 174, 4);
    border-radius: 7px;
    padding: 10px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.uncompleted {
  color: #474747;
  text-decoration: line-through;
  border: 2px solid rgb(37, 37, 37);
}

#todoList .btn{
  margin-left: 10px;
}

svg{
  margin: 2px;  
}
svg:hover{
  cursor: pointer;
}

.btnTodo{
  display: flex;
  align-items: center;
}

#addButton,#clearButton{
  margin: 20px 0px 10px 10px;
}